.main_container
  .main_container__top
  .main_container__bottom
    .main_container__bottom__content
      %table
        %tr.table_row
          %th.table_header#table_header_week
          - for i in 0..13 do
            %th.table_header#table_header_week
              = (Date.today + i).strftime("%m/%d(%a)")
        %tr#spacer
        - @schedules.each_with_index do |schedule, i|
          %tr
            %td.table_data
              = schedule.time
            - if @reservations[i].present?
              - 14.times do |days|
                %td
                  - @reservations[i].each do |r|
                    = link_to patient_path(r.patient_id) do
                      = r.rsv_date_check(days)