.main_container {
  float: right;
  height: 90vh;
  width: 85vw;
  @include clearfix();
  overflow: scroll;
  &__top {
  }
  &__bottom {
    &__content {
      height: auto;
      width: auto;
      display: inline-block;
      box-sizing: border-box;
      margin: 0 auto;
      padding: 15px 10px;
      background-color: rgb(233, 223, 255);
    }
  }
}