.side_container {
  float: left;
  height: 100vh;
  width: 15vw;
  @include clearfix();
  background-color: rgb(211, 209, 248);
  &__top {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(158, 156, 199);
    &__title {
      height: 7vh;
      width: 90%;
      line-height: 7vh;
      box-sizing: border-box;
      margin: 0 auto;
      border-bottom: solid 1px white;
      text-align: center;
      background-color: rgb(109, 107, 148);
      >h1 {
        font-size: 1.1rem;
      }
    }
  }
  &__bottom {
    height: 90%;
    overflow: scroll;
    &__content {
      height: auto;
      width: 90%;
      box-sizing: border-box;
      margin: 0 auto;
      margin-top: 5%;
      padding: 5px 10px;
      background-color: rgb(143, 128, 170);
      .table_header_today {
        width: 100%;
        font-weight: bold;
      }
    }
  }
}