.table_row {
  box-sizing: border-box;
  border-bottom: solid 1px rgb(158, 156, 165);
}

.table_header {
  padding-bottom: 5px;
  border-bottom: solid 2px rgba(164, 160, 167, 0.623);
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
}

.table_data {
  margin-right: 10px;
  padding: 3px 0;
  display: inline-block;
}


#table_header_week {
  padding: 0 10px 5px 0;
}

#spacer {
  height: 5px;
}