.header_container
  Medi-Chart(beta)
  = link_to patients_path do
    患者一覧
  = link_to new_patient_path do
    患者登録
  = link_to reservations_path do
    予約一覧
  = link_to new_reservation_path do
    予約登録