.side_container
  .side_container__top
    .side_container__top__title
      = Date.today.strftime("%y/%m/%d (%a)")
  .side_container__bottom
    .side_container__bottom__content
      %table
        %tr
          %th 時間
        - @schedules.each_with_index do |schedule, i|
          %tr
            %td
              = schedule.time
            %td
              - @today_rsv.each do |r|
                = link_to patient_path(r.patient_id) do
                  = r.rsv_time_check(schedule.id)