.side_container
  .side_container__top
    .side_container__top__title
      %h1 Medi-Chart(beta)
  .side_container__bottom
    .side_container__bottom__content
      %table
        .table_header_today.table_header
          = Date.today.strftime("%y/%m/%d (%a)")
        - @schedules.each_with_index do |schedule, i|
          %tr.table_row
            %td.table_data
              = schedule.time
            %td
              - @today_rsv.each do |r|
                = link_to patient_path(r.patient_id) do
                  = r.rsv_time_check(schedule.id)